footer {
  background-color: #D1974D;
}

.pie-pagina .hijo1 .hijo2 .face {
  width: 25px;
  height: 25px;
}

.pie-pagina .hijo1 .hijo2 .wpp {
  width: 25px;
  height: 25px;
}

.pie-pagina .hijo1 .hijo2 .insta {
  width: 25px;
  height: 25px;
}

.pie-pagina .maps {
  width: 300px;
  height: 200px;

}

.pie-pagina .hijo1 .hijo2 li {
  display: inline-block;
}


.pie-pagina .hijo2{
  text-align: center;
}