.fotos-productos .vela-basicas .colores-calidos {
    width: 200px;
    height: 200px;
  }
  
  .fotos-productos .vela-basicas .oso-blanco {
    width: 200px;
    height: 200px;
  }
  
  .fotos-productos .vela-basicas .sol-luna {
    width: 200px;
    height: 200px;
   
  }
  
  .fotos-productos .vela-basicas .lampara {
    width: 200px;
    height: 200px;
  }
  
  .fotos-productos .vela-basicas .a-flor {
    width: 200px;
    height: 200px;
  }
  
  .fotos-productos .vela-basicas .a-horno {
    width: 200px;
    height: 200px;
  }
  
  .promo .sol-y-luna {
    width: 200px;
    height: 200px;
  }
  
  .promo .a-flores {
    width: 200px;
    height: 200px;
  }
  
  .promo .osoo-blanco {
    width: 200px;
    height: 200px;
  }
  
  .promo .lamparaa {
    width: 200px;
    height: 200px;
  }
  
  .promo .a-hornoo {
    width: 200px;
    height: 200px;
  }
  
  .promo .coloress-calidos {
    width: 200px;
    height: 200px;
  }
  
  .promo .olorr {
    width: 200px;
    height: 200px;
    justify-content: center;
  }
 .logo-fe{
    width: 75px;
    height: 50px;
    justify-content: right;
 
 }
 .f-promo{
  justify-content: center;
 }
 .vela-basica .vela1 {
  width: 200px;
  height: 200px;
  transition: height 1s;
}


section .vela-olor div .imagen-vela-olor {
  border-style: double;
  border-color: rgba(255, 228, 196, 0.817);
}
