body main header h1 {
    text-align: center;
    font-style: italic;
    font-family: serif;
    color: black;
  }
  .h2 {
    text-align: center;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;

  }
 body main header h2 {
    text-align: center;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
  }
  section .vela-olor h2 {
    text-align: center;
  }
  body main header h3 {
    text-align: center;
    font-style: italic;
    font-family: serif;
  }
  //h4//
  h4 {
    margin: 20px 20px;
    font-style: italic;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    
  }
  .texto-contacto {
    text-align: center;
    font-weight: 100;
    font-family: sans-serif;
  }
  section .vela-olor div .caract-principales .c {
    text-align: left;
    margin: 20px 20px;
  }
  .h4 {
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 20px 20px;
  }
  //h5//
  .t-productos {
    text-align: center;
    font-weight: 100;
    font-family: sans-serif;
    
  }
  .texto-promos {
    text-align: center;
    font-weight: 100;
    font-family: sans-serif;
  }
  
  