@charset "UTF-8";
* {
  margin: 5px;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  text-align: justify;
}

@media (max-width: 768px) {
  .nav-link ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  .nav-link {
    display: inline-flex;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  .nav-link #toggle:checked ~ .menu {
    height: 100%;
  }
}
header .links ul li {
  box-shadow: rgb(0, 0, 0);
}

body {
  background-image: linear-gradient(to left,rgb(239,219, 189),rgb(225, 177, 107) );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body main header.logo .logo-f {
  font-weight: 700;
}

body, html {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding: 0;
  width: 100%;
}

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 99px;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: rgb(229, 255, 0);
}

li:last-child a {
  margin-right: 0;
}

a:hover {
  background: rgb(207, 167, 91);
}

a:active {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

a:link, a:visited, a:active {
  text-decoration: none;
  transition: 0.5s;
}


/////////////////////////////////////////////////responsive//////////////////////////////////////////////////
@media (max-width: 500px) {
  .pie-paginaa .hijo3 {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .pie-paginaa .hijo1 .hijo2 {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .promo {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .cont-grillas {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .cont-grillas .grilla-img img {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .logo .logo-f {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .section {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .grilla-index {
    flex-direction: column;
  }
}

form {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 400px;
  /* Esquema del formulario */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Tamaño y alineación uniforme */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  /* Tamaño uniforme del campo de texto */
  width: 300px;
  box-sizing: border-box;
  /* Hacer coincidir los bordes del campo del formulario */
  border: 1px solid #999;
  scroll-behavior: smooth;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  /* Alinear los campos de texto multilínea con sus etiquetas */
  vertical-align: top;
  /* Proporcionar espacio para escribir texto */
  height: 5em;
}

.button {
  /* Alinear los botones con los campos de texto */
  padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
}

button {
  margin-left: 0.5em;
}

/*# sourceMappingURL=style.css.map */

////////////////////////////////////////////////imports////////////////////////////////////////////////////////
//barra nav//
  @import "barra-nav";
//textos//
@import "textos";
//footer//
@import "footer";
//IMAGENES//
@import "imagenes";
//GRILLAS//
@import "grillas";