* {
  margin: 5px;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  text-align: justify;
}



.vela-basica .vela1 {
  width: 200px;
  height: 200px;
}
//barra nav//
header .nav-link ul li {
  display: inline-block;
  text-align: center;
  
}
header .links ul li {
  display: inline-block;
  text-align: center;
}
.nav-links {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.nav-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(223, 204, 161);
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 3px 3px 5px grey;
  
}
section .vela-olor div .imagen-vela-olor {
  border-style: double;
  border-color: rgba(255, 228, 196, 0.817);
}
.nav-link ul {
  display: flex;
  gap: 2rem;
}

.nav-link a {
  text-decoration: none;
  color: white;
}

a:link, a:visited, a:focus {
  background: rgb(240, 160, 68);
}
@media (max-width: 768px) {
  .nav-link ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  .nav-link {
    display: inline-flex;
    color: white;
    cursor: pointer;
  }
  .nav-link #toggle:checked ~ .menu {
    height: 100%;
  }
}
header .links ul li {
  box-shadow: rgb(132, 27, 27);
}
//IMG//
.fotos-productos .vela-basicas .colores-calidos {
  width: 200px;
  height: 200px;
}

.fotos-productos .vela-basicas .oso-blanco {
  width: 200px;
  height: 200px;
}

.fotos-productos .vela-basicas .sol-luna {
  width: 200px;
  height: 200px;
}

.fotos-productos .vela-basicas .lampara {
  width: 200px;
  height: 200px;
}

.fotos-productos .vela-basicas .a-flor {
  width: 200px;
  height: 200px;
}

.fotos-productos .vela-basicas .a-horno {
  width: 200px;
  height: 200px;
}

.promo .sol-y-luna {
  width: 200px;
  height: 200px;
}

.promo .a-flores {
  width: 200px;
  height: 200px;
}

.promo .osoo-blanco {
  width: 200px;
  height: 200px;
}

.promo .lamparaa {
  width: 200px;
  height: 200px;
}

.promo .a-hornoo {
  width: 200px;
  height: 200px;
}

.promo .coloress-calidos {
  width: 200px;
  height: 200px;
}

.promo .olorr {
  width: 200px;
  height: 200px;
  justify-content: center;
}

footer {
  background-color: #D1974D;
}
//body//
body {
  background-color: #B9935A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body main header.logo .logo-f {
  font-weight: 700;
}

body, html {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding: 0;
  width: 100%;
}

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 99px;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: rgb(229, 255, 0);
}

li:last-child a {
  margin-right: 0;
}

a:hover {
  background: rgb(207, 167, 91);
}

a:active {
  background: rgb(255, 255, 255);
  color: white;
}
//////////////////////////////////////////h1,2,3,4..////////////////////////////////////////////////
.c{
  font-size: large;
}
.t-productos{
  text-align: center;
  font-weight: 100;
  font-family: sans-serif;
}
.texto-promos{
  text-align: center;
  font-weight: 100;
  font-family: sans-serif;
}
.texto-contacto{
  text-align: center;
  font-weight: 100;
  font-family: sans-serif;
}
h4{
  margin: 20px 20px;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body main header h1 {
  text-align: center;
  font-style: italic;
  font-family: serif;
}

body main header h3 {
  text-align: center;
  font-style: italic;
  font-family: serif;
}
.h2{
  text-align: center;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
body main header h2 {
  text-align: center;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

section .vela-olor div .caract-principales li {
  text-align: left;
}

section .vela-olor h2 {
  text-align: center;
}

a:link, a:visited, a:active {
  text-decoration: none;
  transition: 0.5s;
}
/////////////////////////////////////////////////////grillas///////////////////////////////////////////////
.cont-grillas {
  display: grid ;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  height: 100%;
 grid-template-columns:repeat( 2,1fr);
 
 justify-content: center;
}

.cont-grillas .grilla-img img {
  width: 200px;
  height: 200px;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.logo{
  display: grid;
  justify-content: center;
}
.logo .logo-f {
  width: 250px;
  height: 250px;
}
.vela-basica{
  display: grid;
  justify-content: center;
}
.vela-basica .vela1 {
  width: 200px;
  height: 200px;
}
.grilla-index{
  display: grid ;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  height: 100%;
 grid-template-columns:repeat( 2,1fr);
 justify-content: center;
}
.imagen-vela-olor{
  width: 200px;
  height: 200px;
}
//pie de pagina//
.pie-paginaa{
  height: 100%;
}
.pie-pagina .hijo1 .hijo2 .face {
  width: 25px;
  height: 25px;
}

.pie-pagina .hijo1 .hijo2 .wpp {
  width: 25px;
  height: 25px;
}

.pie-pagina .hijo1 .hijo2 .insta {
  width: 25px;
  height: 25px;
}

.pie-pagina .maps {
  width: 200px;
  height: 200px;
}

.pie-paginaa .maps {
  width: 200px;
  height: 200px;
}

.pie-pagina .hijo1 .hijo2 li {
  display: inline-block;
}

.pie-paginaa .hijo3 un .face {
  width: 25px;
  height: 25px;
}

.pie-paginaa .hijo3 un .wpp {
  width: 25px;
  height: 25px;
}

.pie-paginaa .hijo3 un .insta {
  width: 25px;
  height: 25px;
}

.pie-paginaa .hijo3 un li {
  display: inline-block;
}
////////////////////////////////////////////////display//////////////////////////////////////////////////
@media (max-width: 500px) {
  .pie-paginaa .hijo3 {
    flex-direction: column;
   }
}
@media (max-width: 500px) {
  .pie-paginaa .hijo1 .hijo2 {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .promo {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .cont-grillas {
    flex-direction: column;
  }
}
@media (max-width:500px){
  .cont-grillas .grilla-img img{
    flex-direction:column;
  }
}
@media (max-width: 500px) {
  .logo .logo-f {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .section {
    flex-direction: column;
  }
}
@media (max-width:500px){
  .grilla-index {
  flex-direction: column;
  }
}


/*# sourceMappingURL=style.css.map */
//css del formulario//
form {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 400px;
  /* Esquema del formulario */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Tamaño y alineación uniforme */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;

  /* Tamaño uniforme del campo de texto */
  width: 300px;
  box-sizing: border-box;

  /* Hacer coincidir los bordes del campo del formulario */
  border: 1px solid #999;
  scroll-behavior: smooth;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  /* Alinear los campos de texto multilínea con sus etiquetas */
  vertical-align: top;

  /* Proporcionar espacio para escribir texto */
  height: 5em;
}

.button {
  /* Alinear los botones con los campos de texto */
  padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
}

button {
  margin-left: .5em;
}